<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Macy's Careers</title>
		<link rel="icon" href="assets/favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
		<link rel="stylesheet" href="stylesheets/theme.css">
	</head>
	<body id="career_site_home_page">
		<div class="preloader-outer">
			<div class="preloader"></div>
		</div>
		<div id="page-container">

			<div id="header-anchor-js"></div>
			<div id="header">
				<div class="row">
					<div class="small-12 large-3 columns header__logo">
						<a href="index.html"><img src="assets/macys-logo.png" alt="Macy's logo" /></a>
					</div>
					<div class="small-12 large-6 columns header__menu">
						<ul class="clearfix">
							<li><a href="#">Career Areas</a></li>
							<li><a href="index-working-here.html">Working Here</a></li>
							<li><a href="index-offices.html">Offices</a></li>
							<li><a href="index-diversity.html">Diversity &amp; Inclusion</a></li>
							<li><a href="index-college-programs.html">College Programs</a></li>
						</ul>
					</div>
					<div class="small-12 large-3 columns header__search">
						<div class="cs_item_type_jobsearch cs_cfix cs_jsearchform">
							<form method="get" action="index-job-search.html" id="search_form" class="keyword-search-form">
								<input type="text" placeholder="Type to search opportunities" id="cs_jobsearchforminput_macys01" class="ui-autocomplete-input" autocomplete="off" name="q" value="" />
								<input type="submit" value="&#xf002;" class="header__search-submit" />
							</form>
						</div>
						<!-- <script>jtm_autocomplete.register("macys01");</script> -->
					</div>
				</div>
			</div><!--/#header-->

      <div id="header-wrapper-fixed-bottom"></div>

      <div id="jobs-search" class="page-section--full">
        <div class="row">
          <div class="small-12 column">
            <div class="page-gallery clearfix page-section">
              <img src="./assets/job-search--gallery-01.jpg" alt="Job Search image gallery 1" />
              <img src="./assets/job-search--gallery-02.jpg" alt="Job Search image gallery 2" />
              <img src="./assets/job-search--gallery-03.jpg" alt="Job Search image gallery 3" />
              <img src="./assets/job-search--gallery-04.jpg" alt="Job Search image gallery 4" />
              <img src="./assets/job-search--gallery-05.jpg" alt="Job Search image gallery 5" />
            </div>
          </div>

          <div class="small-12 large-3 columns facet-section-wrapper sidebar">
            <div class="facet-section">
              <h2 class="facet-filter-results-button facet-filter-results-button--mobile" onclick=""><i class="fa fa-sliders hide-for-large" aria-hidden="true"></i> Filter Results <span class="facet-section__clear-all hide"><a href="#" rel="nofollow">Clear All</a></span></h2>       
       
              <div class="facet-section-inner hide">
                  <!-- Setting up the Facets -->
                  <!-- {% assign facet_setup = "Job Category, cfm4_seo, multi, default, 10, 100, expanded;
                  Sub Category, cfm3_seo, multi, default, 10, 100, collapsed;
                  State, location_state_seo, single, default, 10, 100, collapsed;
                  City, location_city_seo, multi, default, 10, 100, collapsed;" | split: ';' | assign_to: 'facet_setup_split' %} -->
                   
									<div class="facet-item facet-item--expanded minus">
									   <div class="facet-item__heading">
									      <h3>Job Category <span class="facet-item__heading-expand-collapse"></span></h3>
									      <p><a href="#" class="facet-item__heading-clear" rel="nofollow">Clear Filters</a></p>
									   </div>
									   <div class="facet-item__options">
									      <div class="facet-item__row">
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi facet-item__options-item-type--selected"></span>
									            <span class="facet-item__option-item-label">Stores</span>
									            <span class="facet-item__option-item-count">2673</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Supply Chain</span>
									            <span class="facet-item__option-item-count">208</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Merchandising</span>
									            <span class="facet-item__option-item-count">97</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Digital</span>
									            <span class="facet-item__option-item-count">27</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Marketing</span>
									            <span class="facet-item__option-item-count">22</span>
									            </a>
									         </div>
									      </div>
									      <p><a class="facet-item__show-more" ref="cfm4" href="javascript: void(0);">+ Show more</a></p>
									      <div class="facet-item__row facet-item__row--hidden" id="facet-item__row--cfm4">
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Technology</span>
									            <span class="facet-item__option-item-count">17</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Finance</span>
									            <span class="facet-item__option-item-count">8</span>
									            </a>
									         </div>
									      </div>
									   </div><!--close .facet-item__options-->
									</div><!--close .facet-item-->

									<div class="facet-item facet-item--collapsed plus">
									   <div class="facet-item__heading">
									      <h3>Sub Category <span class="facet-item__heading-expand-collapse"></span></h3>
									   </div>
									   <div class="facet-item__options">
									      <div class="facet-item__row">
									      	<div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Customer Experience</span>
									            <span class="facet-item__option-item-count">1,240</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Warehouse Operations</span>
									            <span class="facet-item__option-item-count">412</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Inventory Management</span>
									            <span class="facet-item__option-item-count">85</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Data Analytics</span>
									            <span class="facet-item__option-item-count">56</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Social Media Strategy</span>
									            <span class="facet-item__option-item-count">19</span>
									            </a>
									         </div>
									      </div>
									   </div><!--close .facet-item__options-->
									</div><!--close .facet-item-->
									<div class="facet-item facet-item--collapsed plus">
									   <div class="facet-item__heading">
									      <h3>State <span class="facet-item__heading-expand-collapse"></span></h3>
									   </div>
									   <div class="facet-item__options">
									      <div class="facet-item__row">
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--single"></span>
									            <span class="facet-item__option-item-label">California</span>
									            <span class="facet-item__option-item-count">3,142</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--single"></span>
									            <span class="facet-item__option-item-label">Texas</span>
									            <span class="facet-item__option-item-count">2,890</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--single"></span>
									            <span class="facet-item__option-item-label">Florida</span>
									            <span class="facet-item__option-item-count">1,455</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--single"></span>
									            <span class="facet-item__option-item-label">New York</span>
									            <span class="facet-item__option-item-count">920</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--single"></span>
									            <span class="facet-item__option-item-label">Illinois</span>
									            <span class="facet-item__option-item-count">412</span>
									            </a>
									         </div>
									      </div>
									   </div><!--close .facet-item__options-->
									</div><!--close .facet-item-->
									<div class="facet-item facet-item--collapsed plus">
									   <div class="facet-item__heading">
									      <h3>City <span class="facet-item__heading-expand-collapse"></span></h3>
									   </div>
									   <div class="facet-item__options">
									      <div class="facet-item__row">
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">New York City</span>
									            <span class="facet-item__option-item-count">5,432</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Chicago</span>
									            <span class="facet-item__option-item-count">3,210</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Houston</span>
									            <span class="facet-item__option-item-count">1,875</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Phoenix</span>
									            <span class="facet-item__option-item-count">943</span>
									            </a>
									         </div>
									         <div class="facet-item__options-item clearfix">
									            <a href="#" class="facet-item__option-link">
									            <span class="facet-item__options-item-type facet-item__options-item-type--multi"></span>
									            <span class="facet-item__option-item-label">Philadelphia</span>
									            <span class="facet-item__option-item-count">215</span>
									            </a>
									         </div>
									      </div>
									   </div><!--close .facet-item__options-->
									</div><!--close .facet-item-->

                </div><!--close .facet-section-inner-->
              </div><!--close .facet-section-->

              <!-- {{ 'sidebar-jobs-search' | pages_with_tag | assignto: 'v_sidebar_items' }}
              {% if v_sidebar_items.size > 0 %} 
                <div class="page-details__sidebar-list page-section">
                  {% for v_sidebar_item in v_sidebar_items %}
                  <div class="page-details__sidebar-item">
                    <h2>{{ v_sidebar_item.title }}</h2>
                    <img src="{{ v_sidebar_item.images[0].url }}" alt="{{ v_sidebar_item.images[0].title }}" />
                    {{ v_sidebar_item.content }}
                  </div>
                  {% endfor %}
                </div>
              {% endif %} -->
            </div><!--close .facet-section-wrapper-->

          <div class="small-12 large-9 columns jobs-section-wrapper">
            <div class="facet-loading facet-loading--dark"></div>
            <div class="jobs-section">
              <div class="jobs-section__inner">
               	<!-- <h1>213 jobs in Vancouver, BC found</h1> -->
                <h1>Job Search Results</h1>

                <!-- <p>No jobs found matching your query. Please try again.</p>
               	<span class="hide">{% candidate_job_notification 'Notify me of new jobs' %}</span>
                <p><a href="{{ return_to_search }}" id="return-to-search">Click here to return to search</a> or <a href="#" class="job-alert-link">set up a job alert</a>.</p> -->

                  <!-- <div class="facet-loading facet-loading--dark"></div>
                  {% if params['cf']['jobfamily'] != blank %}
                    {% capture jobcategory %}job-category-{{ params['cf']['jobfamily'] }}{% endcapture %}
                    {{ jobcategory | pages_with_tag | assignto: 'v_job_category' }}
                    {% capture has_cat_info %}{{ v_job_category.size }}{% endcapture %}
                    <div class="jobs-section__category-info" style="background-image: url('{{ v_job_category[0].images[0].url }}');">
                      <div class="row">
                        <div class="small-12 medium-6 column end">
                          <div class="jobs-section__category-info-desc">
                            <h2>{{ v_job_category[0].title }}</h2>
                            {{ v_job_category[0].content }}
                          </div>
                        </div>
                      </div>
                    </div><!-close .jobs-section__category-info->
                  {% endif %} -->

                  <div class="jobs-section__job-alert text-center">
                    <span class="hide">{% candidate_job_notification 'Notify me of new jobs' %}</span>
                    <a href="#" class="job-alert-link branding-button">Create a Job Alert</a>
                  </div>
                  <div class="page-section">
                    <div class="row">
                      <div class="small-12 large-9 columns jobs-section__pagination">
                        <div role="navigation" aria-label="Pagination" class="pagination">
                        	<span class="prev_page disabled">previous</span>
                        	<span class="current">1</span>
                        	<a rel="next" href="#">2</a>
                        	<a href="#">3</a>
                        	<a href="#">4</a>
                        	<a href="#">5</a>
                        	<a class="next_page" rel="next" href="#">next</a>
                        </div>
                      </div><!--close .jobs-section__pagination-->

                      <div class="small-12 large-3 columns jobs-section__sort">
                        <select class="jobs-section__sort-select">
                          <option value="">Sort by</option>
                          <option value="default">Relevance</option>
                          <option value="title,asc">Job Title</option>
                          <option value="location_city,asc">Location</option>
                          <option value="updated_at,desc">Most Recent</option>
                        </select>
                      </div><!--close .jobs-section__sort-->
                    </div>

                    <div class="jobs-section__list-wrapper">
                      <div class="jobs-section__heading hide-for-small-only">
                        <div class="row">
                          <div class="medium-5 large-6 columns">
                            <h4>Job Title</h4>
                          </div>
                          <div class="medium-4 columns">
                            <h4>Location</h4>
                          </div>
                          <div class="medium-3 large-2 columns">
                            <h4>Date Posted</h4>
                          </div>
                        </div>
                      </div>
                      <div class="jobs-section__list">

                        <div class="jobs-section__item">
                          <div class="row">
                            <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
                              <h2><a href="04-job-details.html">Selling and Support Captain</a></h2>
                            </div>
                            <div class="small-12 medium-4 columns jobs-section__item-location">
                              <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i>
                                Pittsburgh, PA, United States
                              </span>
                            </div>
                            <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
                              <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 17, 2026</span>
                            </div>
                          </div>
                        </div><!--close .jobs-section__item-->
                        <div class="jobs-section__item">
                          <div class="row">
                            <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
                              <h2><a href="04-job-details.html">Buyer</a></h2>
                            </div>
                            <div class="small-12 medium-4 columns jobs-section__item-location">
                              <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i>
                                New York, NY, United States
                              </span>
                            </div>
                            <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
                              <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 17, 2026</span>
                            </div>
                          </div>
                        </div><!--close .jobs-section__item-->
                        <div class="jobs-section__item">
                          <div class="row">
                            <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
                              <h2><a href="04-job-details.html">Senior Customer Service Associate</a></h2>
                            </div>
                            <div class="small-12 medium-4 columns jobs-section__item-location">
                              <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i>
                                Bloomingdale, IL, United States
                              </span>
                            </div>
                            <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
                              <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 17, 2026</span>
                            </div>
                          </div>
                        </div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Senior Software Engineer</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> San Francisco, CA, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 16, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Regional Supply Chain Manager</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Chicago, IL, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 15, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Digital Marketing Coordinator</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Austin, TX, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 14, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Warehouse Associate</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Nashville, TN, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 17, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Store General Manager</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Seattle, WA, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 12, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Data Science Analyst</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Boston, MA, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 10, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">HR Business Partner</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Atlanta, GA, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 09, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Loss Prevention Specialist</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Phoenix, AZ, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 13, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Visual Merchandiser</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> New York, NY, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 11, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Customer Service Lead</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Denver, CO, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 08, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">E-commerce Project Manager</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Los Angeles, CA, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 07, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Inventory Control Supervisor</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Charlotte, NC, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 16, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Financial Reporting Analyst</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Philadelphia, PA, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 05, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Cybersecurity Architect</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Arlington, VA, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 14, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Content Strategy Lead</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Miami, FL, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 13, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Operations Team Leader</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Columbus, OH, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 06, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">UX/UI Designer</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Portland, OR, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 15, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Logistics Coordinator</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Memphis, TN, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 11, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Public Relations Manager</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Dallas, TX, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 03, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->
												<div class="jobs-section__item">
												   <div class="row">
												      <div class="small-12 medium-5 large-6 columns jobs-section__item-title">
												         <h2><a href="04-job-details.html">Maintenance Technician</a></h2>
												      </div>
												      <div class="small-12 medium-4 columns jobs-section__item-location">
												         <span><i class="fa fa-location-arrow hide-for-large" aria-hidden="true"></i> Indianapolis, IN, United States</span>
												      </div>
												      <div class="small-12 medium-3 large-2 columns jobs-section__item-posted">
												         <span><i class="fa fa-calendar hide-for-large" aria-hidden="true"></i> Apr 17, 2026</span>
												      </div>
												   </div>
												</div><!--close .jobs-section__item-->

                      </div><!--close .jobs-section__list-->
                    </div><!--close .jobs-section__list-wrapper-->

                    <div class="row">
                      <div class="small-12 column jobs-section__pagination">
                        <div role="navigation" aria-label="Pagination" class="pagination">
                        	<span class="prev_page disabled">previous</span>
                        	<span class="current">1</span>
                        	<a rel="next" href="#">2</a>
                        	<a href="#">3</a>
                        	<a href="#">4</a>
                        	<a href="#">5</a>
                        	<a class="next_page" rel="next" href="#">next</a>
                        </div>
                      </div><!--close .jobs-section__pagination-->
                    </div>
                  </div>
              </div><!--close .jobs-section__inner-->
            </div><!--close .jobs-section-->

          </div><!--close .jobs-section-wrapper-->
        </div>
      </div><!--close #jobs-search-->

			<div id="footer">
				<div class="row">
					<div class="small-6 large-3 columns footer__logo">
						<img src="assets/macys-logo--white.png" alt="Macy's logo" />
					</div>
					<div class="small-6 large-3 columns footer__menu-1">
						<ul>
							<li><a href="#">Meet us in person</a></li>
							<li><a href="#">View Events Calendar</a></li>
						</ul>
					</div>
					<div class="small-6 large-3 columns footer__menu-2">
						<div class="row">
							<div class="small-6 columns">
								<ul>
									<li><a href="#" target="_blank">Returning User?</a></li>
									<li><a href="#">macysJOBS.com</a></li>
									<li><a href="#" target="_blank">macys.com</a></li>
								</ul>
							</div>
							<div class="small-6 columns">
								<ul>
									<li><a href="#" target="_blank">FAQ</a></li>
									<li><a href="#" target="_blank">Privacy Policy</a></li>
									<li><a href="#" target="_blank">Legal Notice</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="small-6 large-3 columns">
						<p>Copyright ©2018 Macy’s, Inc.</p>
						<p>Macy’s Inc. is an Equal Opportunity Employer committed to a diverse and inclusive work environment</p>
					</div>
				</div>
			</div><!--/#footer-->

			<div id="footer-copy" class="page-section">
				<div class="footer-copy-inner">
					<div class="row">
						<div class="small-12 large-8 large-offset-2 columns text-center">
							<p>Macy’s, Inc. will consider for employment qualified applicants with criminal histories in a manner consistent with the requirements of SFPC Art. 49 and LA MC ch.XVIII Art. 9.</p>
							<p>To learn more about your rights under the Philadelphia Fair Chance Hiring Law, <a href="#" target="_blank">click here</a>.</p>
						</div>
						<div class="small-12 large-2 column footer-copy__social-media">
							<a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							<a href="#" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
							<a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div><!--/#footer-copy-->
			
		</div><!--/#page-container-->

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    	<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.3.1/jquery.placeholder.min.js"></script>
		<script>$(document).foundation();</script>
		<script src="javascripts/theme.js"></script>
	</body>
</html>